.mdl-card__supporting-text>span {
    display: block;
}

.serviceList-table {
    margin-top: 10px;
    width: 95%;
}

.mdl-menu {
    max-height: 125px;
    overflow: scroll;
}

h7 {
    font-size: 1rem;
    letter-spacing: .04em;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    margin: 24px 0px 8px 20px;
}

.slider-spacer {
    margin-bottom: 8px;
}

.slider-set-spacer {
    padding-bottom: 24px;
}

.slider-set-spacer > .slider-spacer > .checkbox-centering > label {
    margin: 8px;
}

.slider-set-spacer>label>span {
    font-size: 1rem;
}

.checkbox-centering {
    margin: 0 20px 0 20px;
    display: flex;
    box-sizing: border-box;
    align-items: center;
}

#stopButton {
    background-color: white;
}

.mdl-card__actions {
	display: flex;
	box-sizing:border-box;
	align-items: center;
}

.mdl-card__actions > button {
    margin: 5px;
}

.mdl-mini-footer {
    padding: 14px 16px 14px !important;
}

.mdl-cell--2-col > .mdl-card__media {
    margin: 0px;
}

.mdl-cell--2-col > .mdl-card__media > img {
    max-width: 100%;
  }

.mdl-card__supporting-text > .block {
    display: block !important;
}

#infLoopHeading {
    color: #3f51b5;
    font-size: 12px;
    margin-left: 0px;
}

#connection-status-icon {
    vertical-align: middle;
  }

.slider-legend {
    padding: 0px 20px 0px 20px;
    display: block;
}

.left {
    float: left;
    /*display: inline-block;*/
}

.right{
    float: right;
    /*display: inline-block;*/
}

.white-icons {
    color: #FFFFFF;
}