.loader {
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

#progress {
    margin: 20px;
}  

/* IDTF Player*/

input[type="text"], input [type="number"] {
  margin: 5px;
}

.configuration > label {
  display: inline-block;
  width: 100px;
}

/* parameters*/

.firstLabel {
  display: inline-block;
  width: 100px;
}

fieldset {
  padding: 20px;
}

fieldset > div > input [type="checkbox"] {
  display: inline;
}